
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');


h1, h2, p{
    font-family: "Montserrat";
}

h3, p{
    color: #fffafa;
}


/*Navigation/Header Area*/

.header-container, .navbar{
    background-color: #0a0a0A;
}


/*Hero Container/Intro Area*/

.hero-container{
    background-color: #0a0a0A;
}

@media (min-width:768px) {
    .hero-container h3{
        margin-left: 1em;
    }
}

@media (min-width:768px) {
    .hero-pic img{
        margin-right: 8em;
    }
}

@media (min-width:768px) {
    .logo-pic img{
        margin-left: 4em;
    }
}
@media (min-width:768px) {
    .logo-text p{
        margin-right: 3em;
    }
}

/*Skills Container Area*/

.skills-container{
    background-color: #0a0a0A;
}

.skills-container h1{
    color: #fffafa;
}
