
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');


body, p{
    font-family: "Roboto Mono", sans-serif;
}

body, h1, p, h2, h3{
    color: #fffafa;
}

/*This gave the header a little more depth*/

.hero-container h1,.hero-container h2, .hero-container h3{
    color: #fffafa;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 0.05em;
    text-shadow: 0 0 3px rgba(255, 255, 225, 0.8), 0 0 3px rgba(255, 255, 255, 0.6)
} 

.hero-container h3{
    color: #fffafa;
    font-weight: 500;
    font-family: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;

}


/*Navigation/Header Area*/

.navbar li{
    font-family: 'Roboto Mono', sans-serif;
}

.header-container, .navbar{
    background-color: #0a0a0A;
}


/*Hero Container/Intro Area*/

.hero-container{
    padding-top: 15rem;
    background-color: #0a0a0A;

}
.logo-row{
    padding-top: 15rem;
    padding-bottom: 15rem;
}



.hero-pic img{
    box-shadow: 0 4px 5px rgba(225, 225, 225, 0.3), 0 4px 5px rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-pic img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8)
}
/*Animation for Hero Pic to fade in from the right*/

.hero-pic img, .logo-pic img{
    opacity: 0; 
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translate(50px); /*Makes image move from right to left*/
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.hero-container h1, .hero-container h2, .logo-text{
    opacity: 0;
    animation: comeIn 1.5s forwards;
}

@keyframes comeIn {
    0%{
        opacity: 0;
        transform: translate(-50px); /*Makes image move left to right*/
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-container .logo-text{
    box-shadow: rgba(150, 16, 29, 0.5) 5px 5px, rgba(150, 16, 29, 0.3) 10px 10px, rgba(150, 16, 29, 0.2) 15px 15px, rgba(150, 16, 29, 0.1) 20px 20px, rgba(150, 16, 29, 0.05) 25px 25px;
    border-radius: 25px;    
}

.hero{
    box-shadow: rgb(150, 16, 29);
}


/*Media Queries (Hero Area)*/

@media (min-width:768px) {
    .hero-container h1, .hero-container h2, .hero-container h3{
        margin-left: 3rem;
    }
}



@media(min-width:768px) {
    .hero-pic img{
        margin-right: 1rem;
    }
}

@media (min-width:768px) {
    .logo-pic img{
        margin-left: 1rem;
    }
}


/*Skills Container Area*/

.skills-container{
    padding: 1px;
    background-color: #0a0a0A;
}


.css, .html, .javascript, .react, .bootstrap{
    box-shadow: rgb(255, 255, 255) 0px 2px 4px, rgb(255, 255, 255) 0px 7px 13px -3px, rgb(255, 255, 255) 0px -3px 0px inset;
    border-radius: 25px;
}

.skills-container h1{
    color: #fffafa;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(60, 60, 60, 0.6)
}


/*Project Container Area*/

.projects-container h1{
    color: #fffafa;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(60, 60, 60, 0.6)
}

.projects-container{
    background-color: #0a0a0A;
}

.projects-container a{
    text-decoration: none;
}

.pic1, .pic2, .pic3{
    box-shadow: rgb(255, 255, 255) 0px 60px 40px -2px;
}